*{
    background: #94a7ebef;
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
}

.text-area {
    height: 400px;
    border: none;
    color: var(--dark-blue-dark-blue-300, #0A3871);
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder {color: #0a3871;}
    .text-area:focus{
        outline: none;
    }

.mensaje{
    width: 400px;
    height: 630px;
    background: white;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;

}
.información{
    color: var(--gray-gray-400, #495057);
    
}